<div class="relative">
  <div mat-dialog-title>Cargar contenido</div>
  <div mat-dialog-content>

    <p>
      Para una carga exitosa el archivo a cargar tiene que tener formato <strong>.xlsx</strong> y
      las siguientes <strong>columnas</strong> con los siguientes <strong>nombre</strong>
      con sus respetivos <strong>tipos de datos</strong>
    </p>

    <table class="xlsx-table">
      <tr>
        <th>name</th>
        <th>phone</th>
        <th>address</th>
        <th>cardPayments</th>
        <th>delivery</th>
        <th>latitude</th>
        <th>longitude</th>
        <th>isWhatsApp</th>
      </tr>
      <tr>
        <td>texto</td>
        <td>texto</td>
        <td>texto</td>
        <td>0 / 1</td>
        <td>0 / 1</td>
        <td>numero</td>
        <td>numero</td>
        <td>0 / 1</td>
      </tr>
    </table>
  </div>

  <button mat-icon-button mat-dialog-close class="close-button"><mat-icon>close</mat-icon></button>

</div>
