@import "../../../scss/variables";

.sidenav-container {
  width: 100vw;
  height: 100vh;
}

mat-sidenav-content {
  height: calc(100vh - 64px);
}

.drawer {
  padding: 10px;
  &__item {
    outline: none;
    margin: 20px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    mat-icon {
      margin-right: 10px;
    }
  }
  .active {
    color: $primary;
  }
}

.menu-bars {
  cursor: pointer;
  margin-right: 15px;
}

@media(max-height: 1000px) {
  mat-sidenav-content {
    height: calc((var(--vh, 1vh) * 100) - 56px);
  }
}
